/* Body Styling */
body {
  color: #000000;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.poem {
  font-style: italic;
  margin-bottom: 20px;
}

.notes {
  text-align: left;
  margin-top: 20px;
}

.notes p {
  margin: 10px 0;
}

/* Card Container */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

/* Individual Card */
.card {
  background: rgb(255, 255, 255);
  border-radius: 45px;

  overflow: hidden;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}

.card img {
  width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.card-text {
  margin: 10px 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000000;
}

.card-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
  background-color: #b3c8cf;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-btn:hover {
  transform: scale(1.1);
  background-color: #e4e4e4; /* Light gray on hover */
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px; /* Adds space between buttons */
}

.pagination button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.pagination button:hover {
  transform: scale(1.1);
  background-color: #8da0ab;
}

.pagination button[disabled] {
  background: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

/* Dynamic Content Section */
#dynamic-content {
  max-width: 600px;
  background: rgb(255, 255, 255);
  border-radius: 55px;
  padding: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 50px auto 20px auto;
  display: none;
}

/* Play, Pause, and Back Buttons */
#play-btn,
#pause-btn,
#back-btn {
  display: none; /* Initially hidden (only for detail page) */
}

#play-btn,
#pause-btn,
#back-btn {
  font-size: 18px;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#play-btn:hover,
#pause-btn:hover,
#back-btn:hover {
  transform: scale(1.1);
  background-color: #8da0ab;
}
